# Test d'importation avec le script

In [4]:
from donnees_IDFM import donnees_archives, donnees_validation_23, donnees_profils_23

## Données 2023

L'importation des données de 2023 prend 1 à 2 minutes.

In [7]:
validations_23=donnees_validation_23()

In [8]:
profils_23=donnees_profils_23()

In [9]:
validations_23

               JOUR  CODE_STIF_TRNS  ... CATEGORIE_TITRE NB_VALD
0        2023-06-26             800  ...               ?      28
1        2023-06-26             800  ...       AMETHYSTE       9
2        2023-06-26             800  ...       IMAGINE R     388
3        2023-06-26             800  ...             TST     114
4        2023-06-26             800  ...               ?       8
...             ...             ...  ...             ...     ...
1096204  2023-01-20             800  ...          NAVIGO      16
1096205  2023-01-20             800  ...      NON DEFINI      27
1096206  2023-01-20             800  ...       AMETHYSTE       5
1096207  2023-01-20             800  ...       AMETHYSTE      84
1096208  2023-01-20             800  ...             FGT      96

[1096209 rows x 8 columns]

In [10]:
profils_23

       CODE_STIF_TRNS CODE_STIF_RES  ... TRNC_HORR_60 pourc_validations
0                 100           110  ...       9H-10H              8.12
1                 100           110  ...        0H-1H              0.91
2                 100           110  ...      14H-15H              7.37
3                 100           110  ...      17H-18H              7.94
4                 100           110  ...       23H-0H              1.46
...               ...           ...  ...          ...               ...
84132             100           110  ...      12H-13H              4.75
84133             100           110  ...      16H-17H              5.55
84134             100           110  ...       23H-0H              0.95
84135             100           110  ...        4H-5H              0.00
84136             100           110  ...        7H-8H              7.38

[84137 rows x 8 columns]

L'importation fonctionne correctement.

## Données 2015 à 2023

In [ ]:
validations_archive,profils_archive=donnees_archives()

In [2]:
validations_archive

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD,annee,lda
0,01/01/2015,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,117,2015,NaN
1,01/01/2015,100,110,1,PORTE MAILLOT,71379,AUTRE TITRE,37,2015,NaN
2,01/01/2015,100,110,1,PORTE MAILLOT,71379,FGT,172,2015,NaN
3,01/01/2015,100,110,1,PORTE MAILLOT,71379,IMAGINE R,605,2015,NaN
4,01/01/2015,100,110,1,PORTE MAILLOT,71379,NAVIGO,2039,2015,NaN
...,...,...,...,...,...,...,...,...,...,...
1105942,31/12/2022,810,802,905,VILLEPINTE,NaN,IMAGINE R,212,2022,73547.0
1105943,31/12/2022,810,802,905,VILLEPINTE,NaN,NAVIGO,614,2022,73547.0
1105944,31/12/2022,810,802,905,VILLEPINTE,NaN,NAVIGO JOUR,6,2022,73547.0
1105945,31/12/2022,810,802,905,VILLEPINTE,NaN,NON DEFINI,6,2022,73547.0
1105946,31/12/2022,810,802,905,VILLEPINTE,NaN,TST,202,2022,73547.0

In [3]:
profils_archive

,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CAT_JOUR,TRNC_HORR_60,pourc_validations,annee,lda
0,100,110,1,PORTE MAILLOT,71379,DIJFP,0H-1H,1.96,2015,NaN
1,100,110,1,PORTE MAILLOT,71379,DIJFP,10H-11H,4.01,2015,NaN
2,100,110,1,PORTE MAILLOT,71379,DIJFP,11H-12H,4.43,2015,NaN
3,100,110,1,PORTE MAILLOT,71379,DIJFP,12H-13H,5.36,2015,NaN
4,100,110,1,PORTE MAILLOT,71379,DIJFP,13H-14H,5.53,2015,NaN
...,...,...,...,...,...,...,...,...,...,...
85249,810,802,905,VILLEPINTE,NaN,SAVS,5H-6H,"4,25",2022,73547.0
85250,810,802,905,VILLEPINTE,NaN,SAVS,6H-7H,"7,22",2022,73547.0
85251,810,802,905,VILLEPINTE,NaN,SAVS,7H-8H,"6,79",2022,73547.0
85252,810,802,905,VILLEPINTE,NaN,SAVS,8H-9H,"6,39",2022,73547.0
85253,810,802,905,VILLEPINTE,NaN,SAVS,9H-10H,"5,84",2022,73547.0